/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "pet_requests";

.flash-alert {
  @extend .alert;
  @extend .alert-danger;
}

.flash-notice {
  @extend .alert;
  @extend .alert-success;
  color: green;
}

nav {
  @extend .navbar;
  @extend .navbar-default;

  > div {
    @extend .container-fluid;

    > header {
      @extend .navbar-header;

      > a {
        @extend .navbar-brand;
      }
    }

    > p {
      @extend .navbar-text;
      @extend .navbar-right;

      a {
        @extend .navbar-link;
      }
    }

    > ul {
      @extend .nav;
      @extend .navbar-nav;

      &.auth {
        @extend .navbar-right;
      }
    }
  }
}

.new-request-link {
  font-weight: bold;

  &, &:visited {
    color: green;
  }
}
