// Place all the styles related to the pet_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-request-link {
  font-weight: bold;
  display: block;
  margin-bottom: 1em;

  &, &:visited {
    color: green;
  }

  &:hover {
    background: none;
    text-decoration: none;
  }
}

.pet-requests {
  @extend .table;
  @extend .table-striped;

  .edit, .destroy {
    display: none;
  }

  &.admin, tr.current-user {
    .edit, .destroy {
      display: inline;
    }
  }
}

.edit_pet_request {
  .field {
    @extend .form-group;
  }
}
